<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Band Gap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/templates/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
    <style type="text/css">
        body {
            background-image: url("http://getwallpapers.com/wallpaper/full/b/8/3/72787.jpg");
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        select {
            font-size: 20px;
            border: 2px solid gainsboro;
            border-radius: 4px;
            box-sizing: border-box;
            background: white;
            margin: 5px;
        
        }
        input[type=text] {
            width: 50px;
            border-radius: 4px;
            box-sizing: border-box;
            background: white;
            border: 2px solid gainsboro;
        }
        
        #form-container {
            text-align: center;
        }
        
        .mt {
            max-width: 200px;
            max-height: 100px;
            border: 1.0px solid black;
            text-align: center;
            position: relative;
            margin: auto;
            padding: 10px;
        }
        
        #mt-1 {
            background-color: whitesmoke;
        }
        
        #mt-2 {
            background-color: whitesmoke;
        }
        
        #mt-3 {
            background-color: whitesmoke;
        }
        
        #note {
            color: white;
        }
        
        sub {
            font-size: 5px;
        }
        
        .note {
            text-align: center;
            align-items: center;
            position: relative;
            margin: 30px;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        a {
            margin: auto;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="my-container">
        <h2>Welcome to Fujishiro Lab</h2>
        <div id="form-container" class="container">
            <form action="/result" method="POST">
                <div id="material1-container">
                    <select name="material1" id="material1">
                    <optgroup label="Binary">
                        <option value="" selected disabled hidden>Material1</option>
                        <option value="AlP">AlP</option>
                        <option value="AlAs">AlAs</option>
                        <option value="AlSb">AlSb</option>
                        <option value="GaP">GaP</option>
                        <option value="GaAs">GaAs</option>
                        <option value="GaSb">GaSb</option>
                        <option value="InP">InP</option>
                        <option value="InAs">InAs</option>
                        <option value="InSb">InSb</option>
                    </optgroup>

                    <optgroup label="Ternary">
                        <option value="AlAsSb">AlAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                        <option value="AlGaP">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>P</option>
                        <option value="AlGaAs">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>As</option>
                        <option value="AlGaSb">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>Sb</option>
                        <option value="AlInP">Al<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                        <option value="AlInAs">Al<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                        <option value="GaPAs">GaP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                        <option value="GaAsSb">GaAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                        <option value="GaInP">Ga<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                        <option value="GaInAs">Ga<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                        <option value="GaInSb">Ga<sub>(x)</sub>In<sub>(1-x)</sub>Sb</option>
                        <option value="InPAs">InP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                        <option value="InPSb">InP<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                        <option value="InAsSb">InAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                    </optgroup>

                    <optgroup label="Quaternary">
                        <option value="AlGaInP">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>P</option>
                        <option value="AlGaInAs">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>As</option>
                        <option value="AlGaAsSb">Al<sub>(x)</sub>GaAs<sub>(y)</sub>Sb(1-y)</option>
                        <option value="GaInPAs">Ga<sub>(x)</sub>InP<sub>(y)</sub>As(1-y)</option>
                        <option value="GaInAsSb">Ga<sub>(x)</sub>InAs<sub>(y)</sub>Sb(1-y)</option>
                        <option value="InPAsSb">InP<sub>(x)</sub>As<sub>(y)</sub>Sb<sub>(1-x-y)</sub></option>
                    </optgroup>

                    </select>
                    <label for="x1">x: </label>
                    <input type="text" name="x1" placeholder="x =" value="0.5">
                    <label for="y1">y: </label>
                    <input type="text" name="y1" placeholder="y =" value="0.5">
                </div>
                <div id="material2-container">
                    <select name="material2" id="material2">
                        <optgroup label="Binary">
                            <option value="" selected disabled hidden>Material2</option>
                            <option value="AlP">AlP</option>
                            <option value="AlAs">AlAs</option>
                            <option value="AlSb">AlSb</option>
                            <option value="GaP">GaP</option>
                            <option value="GaAs">GaAs</option>
                            <option value="GaSb">GaSb</option>
                            <option value="InP">InP</option>
                            <option value="InAs">InAs</option>
                            <option value="InSb">InSb</option>
                        </optgroup>
        
                        <optgroup label="Ternary">
                                <option value="AlAsSb">AlAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                <option value="AlGaP">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>P</option>
                                <option value="AlGaAs">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>As</option>
                                <option value="AlGaSb">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>Sb</option>
                                <option value="AlInP">Al<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                                <option value="AlInAs">Al<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                                <option value="GaPAs">GaP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                                <option value="GaAsSb">GaAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                <option value="GaInP">Ga<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                                <option value="GaInAs">Ga<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                                <option value="GaInSb">Ga<sub>(x)</sub>In<sub>(1-x)</sub>Sb</option>
                                <option value="InPAs">InP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                                <option value="InPSb">InP<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                <option value="InAsSb">InAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                            </optgroup>
        
                            <optgroup label="Quaternary">
                                <option value="AlGaInP">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>P</option>
                                <option value="AlGaInAs">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>As</option>
                                <option value="AlGaAsSb">Al<sub>(x)</sub>GaAs<sub>(y)</sub>Sb(1-y)</option>
                                <option value="GaInPAs">Ga<sub>(x)</sub>InP<sub>(y)</sub>As(1-y)</option>
                                <option value="GaInAsSb">Ga<sub>(x)</sub>InAs<sub>(y)</sub>Sb(1-y)</option>
                                <option value="InPAsSb">InP<sub>(x)</sub>As<sub>(y)</sub>Sb<sub>(1-x-y)</sub></option>
                            </optgroup>
            
                    </select>
                    <label for="x2">x: </label>
                    <input type="text" name="x2" placeholder="x =" value="0.5">
                    <label for="y2">y: </label>
                    <input type="text" name="y2" placeholder="y =" value="0.5">
                </div>
                
                <div id="material3-container">
                    <select name="material3" id="material3">
                            <optgroup label="Binary">
                                <option value="" selected disabled hidden>Material3</option>
                                <option value="AlP">AlP</option>
                                <option value="AlAs">AlAs</option>
                                <option value="AlSb">AlSb</option>
                                <option value="GaP">GaP</option>
                                <option value="GaAs">GaAs</option>
                                <option value="GaSb">GaSb</option>
                                <option value="InP">InP</option>
                                <option value="InAs">InAs</option>
                                <option value="InSb">InSb</option>
                            </optgroup>
            
                            <optgroup label="Ternary">
                                    <option value="AlAsSb">AlAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                    <option value="AlGaP">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>P</option>
                                    <option value="AlGaAs">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>As</option>
                                    <option value="AlGaSb">Al<sub>(x)</sub>Ga<sub>(1-x)</sub>Sb</option>
                                    <option value="AlInP">Al<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                                    <option value="AlInAs">Al<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                                    <option value="GaPAs">GaP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                                    <option value="GaAsSb">GaAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                    <option value="GaInP">Ga<sub>(x)</sub>In<sub>(1-x)</sub>P</option>
                                    <option value="GaInAs">Ga<sub>(x)</sub>In<sub>(1-x)</sub>As</option>
                                    <option value="GaInSb">Ga<sub>(x)</sub>In<sub>(1-x)</sub>Sb</option>
                                    <option value="InPAs">InP<sub>(x)</sub>As<sub>(1-x)</sub></option>
                                    <option value="InPSb">InP<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                    <option value="InAsSb">InAs<sub>(x)</sub>Sb<sub>(1-x)</sub></option>
                                </optgroup>
            
                                <optgroup label="Quaternary">
                                    <option value="AlGaInP">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>P</option>
                                    <option value="AlGaInAs">Al<sub>(x)</sub>Ga<sub>(y)</sub>In<sub>(1-x-y)</sub>As</option>
                                    <option value="AlGaAsSb">Al<sub>(x)</sub>GaAs<sub>(y)</sub>Sb(1-y)</option>
                                    <option value="GaInPAs">Ga<sub>(x)</sub>InP<sub>(y)</sub>As(1-y)</option>
                                    <option value="GaInAsSb">Ga<sub>(x)</sub>InAs<sub>(y)</sub>Sb(1-y)</option>
                                    <option value="InPAsSb">InP<sub>(x)</sub>As<sub>(y)</sub>Sb<sub>(1-x-y)</sub></option>
                                </optgroup>
                
                    </select>
                    <label for="x3">x: </label>
                    <input type="text" name="x3" placeholder="x =" value="0.5">
                    <label for="y3">y: </label>
                    <input type="text" name="y3" placeholder="y =" value="0.5">
                </div>
                <button type="submit" class="btn btn-primary" value="send">Calculate!</button>
            </form>
    </div>


    <div class="row note">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Structure Example</h5>
                    <div class="container" id="structure">
                        <div class="row">
                            <div class="col-sm">
                                <div class="mt" id="mt-1">
                                    <h5>Material1</h5>
                                    <p>e.g. Channel..</p>
                                </div>
                                <div class="mt" id="mt-2">
                                    <h5>Material2</h5>
                                    <p>e.g. Buffer..</p>
                                </div>
                                <div class="mt" id="mt-3">
                                    <h5>Material3</h5>
                                    <p>e.g. Substrate..</p>
                                </div> 
                            </div>  
                            <p class="col-sm">
                                First of all, you need to set the material3 as reference material like buffer material, or substrate one.
                                And then, you can just set following epitaxial layer on the reference material (i.e. material3).
                                Both material1 and material2 are got strained by material3, please make sure you have correct order of epitaxial layer
                                before pushing "Calculate" button.
                            </p>
                        </div>
                    </div>
                    <a href="https://github.com/funabashi800/Bandoffset" class="btn btn-primary">Check Reference! </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What's this program for?</h5>
                    <p class="card-text">
                        This is a tool for band alignment simulation considering strain effect in a heterostructure of III-V materials. You can
                        chose three material name from the form boxes and input compound material 
                        composition in 0.0 ~ 1.0 where x is for a ternary material while, y is for a quaternary 
                        material. hence, if you want to get a binary or a ternary material band alignment, you can just inpiut 
                        only x value. 
                    </p>
                    <a href="https://github.com/funabashi800/Bandoffset" class="btn btn-primary">Check Code!</a>
                </div>
            </div>
        </div>
    </div>



    </div>

    
</body>
</html>